
<!doctype html>
<html class="no-js" lang="pt_br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login - Clínica Altamed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="../static/assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="../static/assets/css/metisMenu.css">
    <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="../static/assets/css/typography.css">
    <link rel="stylesheet" href="../static/assets/css/default-css.css">
    <link rel="stylesheet" href="../static/assets/css/styles.css">
    <link rel="stylesheet" href="../static/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="../static/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!-- login area start -->
    <div class="login-area">
        <div class="container">
            <div class="login-box ptb--100">
                <form method="POST" action="/">
                    <div class="login-form-head">
                        <h4>Log in</h4>
                    </div>
                    <div class="login-form-body">
                        <div class="form-gp">
                            <label for="usuario">Usuário</label>
                            <input type="text" id="usuario">
                        </div>
                        <div class="form-gp">
                            <label for="senha">Senha</label>
                            <input type="password" id="senha">
                        </div>
                        <div class="submit-btn-area">
                            <button id="formulario" type="submit">Entrar<i class="ti-arrow-right"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% for sqls in sql %}
    <div class="flash">{{ sqls }}</div>
    {% endfor %}
    <!-- login area end -->

    <!-- jquery latest version -->
    <script src="../static/assets/js/vendor/jquery-3.3.1.js"></script>
    <!-- bootstrap 4 js -->
    <script src="../static/assets/js/popper.min.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/owl.carousel.min.js"></script>
    <script src="../static/assets/js/metisMenu.min.js"></script>
    <script src="../static/assets/js/vendor/jquery.slimscroll.min.js"></script>
    <script src="../static/assets/js/vendor/jquery.slicknav.min.js"></script>
    
    <!-- others plugins -->
    <script src="../static/assets/js/plugins.js"></script>
    <script src="../static/assets/js/scripts.js"></script>
</body>

</html>