<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>APS - Chatboot </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <br>
    <br>
    <div class="alert alert-primary" role="alert">
  Usuário : {{usuario_entrada}}
</div>
<div class="alert alert-dark" role="alert">
  Altabot : {{bot_response}}
</div>

<form action="/processar" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Altabot</label>
    <input type="text" name="usuario_entrada" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Escreva sua pergunta">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</div>

</body>
</html>